*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

div{
    text-decoration: none;
}

body {
    background: lightblue url(image/library-1834222.jpg) no-repeat fixed center ;
    background-size: cover;
}

header{
    flex:1;
}

.top{ 
    flex: 1;
    display: flex;
    padding-top: 4vh;
    padding-left: 5vh;
    padding-right: 5vh;
    justify-content: space-between;
    align-items: center;
	object-fit: cover;
}

.item1 {
    padding: 1vh 1vh;
    background-color: rgba(0, 0, 0, 0.4);
}
.item3{
    padding: 1vh 1vh;
    background-color: rgba(0, 0, 0, 0.4);
}
.item1 img{
    max-width: 15vh;
}
.item3 img{
    max-width: 15vh;
}
.item2{
    /* PES’s Modern College of Engineering, Pune BOOK MANAGEMENT SYSTEM */
    float: center;
    text-align: center;  
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


.name1{
    font-weight:bolder;
    word-spacing: .1vh;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.nav_bar {
    padding: 15px;
    padding-left: 10vh;
    border-radius: 10vh;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;

}

.navi2{
    float: right;
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-right: 2vh;
}

.nava{
    flex:1;
}

.navi{
    display: inline-block;
    color: white;
    font-size: 4vh;
    text-decoration: none;
    margin-left: 2vh;
    margin-right: 2vh;
    padding-right: 2vh;
    padding-left: 2vh;
    text-decoration: none;
    font-weight: bold;
}


.navi2:hover{
     color: green; 
}


.navi2::after{
    content: '';
    display: block;
    width: 0;
    height: .25vh;
    transition: width .5s;
}

.navi2:hover::after{
    width: 100%;
    transition: width .3s;
}

.year1 h2{
    font-weight:bolder;
    word-spacing: .1vh;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}

@media only screen and (min-width: 768px) {

	/* Services Section */
	#year .year2 .year1 {
		flex-basis: 45%;
		margin: 2.5%;
	}
	
}

@media only screen and (min-width: 1200px) {
	
	#year .year2 .year1 {
		flex-basis: 22%;
		margin: 1.5%;
	}
}


