*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

div{
    text-decoration: none;
}

body {
    background: lightblue url(image/library-1834222.jpg) no-repeat fixed center ;
    background-size: cover;
}

header{
    flex:1;
}

.top{ 
    flex: 1;
    display: flex;
    padding-top: 4vh;
    padding-left: 5vh;
    padding-right: 5vh;
    justify-content: space-between;
    align-items: center;
	object-fit: cover;
}

.item1 {
    padding: 1vh 1vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.item3{
    padding: 1vh 1vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.item1 img{
    max-width: 15vh;
}
.item3 img{
    max-width: 15vh;
}
.item2{
    /* PES’s Modern College of Engineering, Pune BOOK MANAGEMENT SYSTEM */
    float: center;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
}


#name1{
    font-weight:bolder;
    word-spacing: .1vh;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 5vh;
}
#name2{
    font-weight:bolder;
    word-spacing: .1vh;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 5vh;
}

.nav_bar {
    padding: 15px;
    padding-left: 10vh;
    border-radius: 10vh;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;

}

.navi2{
    float: right;
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-right: 2vh;
}

.nava{
    flex:1;
}

.navi{
    display: inline-block;
    text-decoration: none;
}

/*background transition in header*/
.navi2::after{
    border-bottom: .2vh;
    content: "";
    text-decoration: none;
    width:0%;
    background: rgb(82, 0, 16);
    display: block;
    margin:auto;
    transition: .5s;
}

.navi2:hover:after{
    width: 100%;

}


#year .year2 {
    display: flex;
    flex: 1;
    padding: 2vh;
    margin: 2vh;
    
}

.year1 h2{
    font-weight:bold;
    word-spacing: .1vh;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: black;
}

@media only screen and (min-width: 768px) {

	/* Services Section */
	#year .year2 .year1 {
		flex-basis: 45%;
		margin: 2.5%;
	}
}

@media only screen and (min-width: 1200px) {
	
	#year .year2 .year1 {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
